body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.7); /* Черный фон с прозрачностью */
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Ширина модального окна */
    /*height: 80%; /* Ширина модального окна */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
